*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box
}

body{
    background: 
    linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    ),
    url('./Images/planoDeFundoGradiente.jpg');
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff
}